<div class="container">
  <div class="row">
    <div class="col-sm-6 m-n font-thin h3">LIQUIDACIONES PARA CONCETRADO {{planillaC.planilla}} Y PLATA</div>    
    <div class="col-sm-3">&nbsp</div>
    <div class="col-sm-3">&nbsp</div>
  </div>
  <div class="row">
    <div class="col-sm-3 fondo-gris border-top-left-bold">DATOS TECNICOS</div>
    <div class="col-sm-2 text-right fondo-gris border-top-bold">DATOS</div>
    <div class="col-sm-1 text-right fondo-gris border-top-right-bold">{{planillaC.d4 | number:2}}%</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 texto-negrilla border-left-bold">CALCULO RM</div>
    <div class="col-sm-2 border-midle">&nbsp</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-2 text-right texto-negrilla-celeste">Calculo Actual</div>
    <div class="col-sm-2 text-right texto-negrilla-celeste">Calculo Anterior</div>
 </div>
 <div class="row">
    <div class="col-sm-3 texto-negrilla border-left-bold">{{planillaC.planilla}}</div>
    <div class="col-sm-2 border-midle">&nbsp</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1 border-top-left">T/C Oficial</div>
    <div class="col-sm-1 text-right border-top-right">{{planillaC.v6 | number:2}}</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1 text-right">{{planillaC.x6 | number:2}}</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1 text-right">{{planillaC.z6 | number:2}}</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Peso bruto para RM {{planillaC.planilla}}</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c7 | number:2}}</div>
    <div class="col-sm-1 text-right border-right-bold">{{planillaC.d7 | number:2}}%</div>
    <div class="col-sm-1 border-midle">LEY {{plan}}</div>
    <div class="col-sm-1 text-right border-right">{{planillaC.v7 | number:2}}%</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1 text-right">{{planillaC.x7 | number:2}}</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1 text-right">{{planillaC.z7 | number:2}}</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Humedad %</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c8 | number:2}}</div>
    <div class="col-sm-1 text-right border-right-bold">Kgs</div>
    <div class="col-sm-1 border-left">GTP Ag</div>
    <div class="col-sm-1 text-right text-right border-right">{{planillaC.v8 | number:2}}</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1 text-right">{{planillaC.x8 | number:2}}</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1 text-right">{{planillaC.z8 | number:2}}</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Merma 1%</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c9 | number:2}}</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1 border-left">HUMEDAD</div>
    <div class="col-sm-1 text-right text-right border-right">{{planillaC.v9 | number:2}}%</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">&nbsp</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c10 | number:2}}</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1 border-left">MERMA</div>
    <div class="col-sm-1 text-right text-right border-right">{{planillaC.v10 | number:2}}%</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Peso neto seco para RM</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c11 | number:2}}</div>
    <div class="col-sm-1 text-right border-right-bold">Kgs</div>

    <div class="col-sm-1 border-bottom-left" style="padding-bottom:0px;margin-bottom:0px;">&nbsp</div>
    <div class="col-sm-1 text-right border-bottom-right" style="padding-bottom:0px;margin-bottom:0px;">{{planillaC.v11 | number:2}}%</div>

    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Ley {{planillaC.planilla}}</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c12 | number:2}}</div>
    <div class="col-sm-1 text-right border-right-bold">%</div>
    <div class="col-sm-1 border-top-left">&nbsp</div>
    <div class="col-sm-1 border-top">&nbsp</div>
    <div class="col-sm-1 text-center border-top">%</div>
    <div class="col-sm-1 text-center border-top">PESO</div>
    <div class="col-sm-1 border-top">&nbsp</div>
    <div class="col-sm-1 text-center border-top-right">PESO</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Contenido K Finos</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c13 | number:2}}</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1 text-center border-left border-top-none">pkc list</div>
    <div class="col-sm-1 text-center border-midle border-top-none">Total peso</div>
    <div class="col-sm-1 text-center border-midle border-top-none">Asignacion</div>
    <div class="col-sm-1 text-center border-midle border-top-none">BRUTO</div>
    <div class="col-sm-1 text-center border-midle border-top-none">Humedad</div>
    <div class="col-sm-1 text-center border-right border-top-none">NETO</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Contenido Libras Finas</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c14 | number:2}}</div>
    <div class="col-sm-1 text-right border-right-bold">{{planillaC.d14 | number:2}}%</div>
    <div class="col-sm-1 border-left">kg finos {{plan}}</div>
    <div class="col-sm-1 text-right border-midle">{{planillaC.v14 | number:2}}</div>
    <div class="col-sm-1 text-right border-midle">{{planillaC.w14 | number:6}}</div>
    <div class="col-sm-1 text-right border-midle">{{planillaC.x14 | number:2}}</div>
    <div class="col-sm-1 text-right border-midle">{{planillaC.y14 | number:2}}</div>
    <div class="col-sm-1 text-right border-right">{{planillaC.z14 | number:2}}</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Contenido en TMF</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c15 | number:2}}</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1 border-left">kg finos Ag</div>
    <div class="col-sm-1 text-right border-midle">{{planillaC.v15 | number:2}}</div>
    <div class="col-sm-1 text-right border-midle">{{planillaC.w15 | number:6}}</div>
    <div class="col-sm-1 text-right border-midle">{{planillaC.x15 | number:2}}</div>
    <div class="col-sm-1 text-right border-midle">{{planillaC.y15 | number:2}}</div>
    <div class="col-sm-1 text-right border-right">{{planillaC.z15 | number:2}}</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Cotizacion US/LF del Ministerio de Mineria</div>
    <div class="col-sm-2 border-midle">&nbsp</div>
    <div class="col-sm-1 text-right border-right-bold">{{planillaC.d16 | number:2}}</div>
    <div class="col-sm-1 border-bottom-left">&nbsp</div>
    <div class="col-sm-1 text-right border-bottom">{{planillaC.v16 | number:2}}</div>
    <div class="col-sm-1 text-right border-bottom">{{planillaC.w16 | number:6}}</div>
    <div class="col-sm-1 text-right border-bottom">{{planillaC.x16 | number:2}}</div>
    <div class="col-sm-1 border-bottom">&nbsp</div>
    <div class="col-sm-1 text-right border-bottom-right">{{planillaC.z16 | number:2}}</div>
 </div>
 <div class="row">
    <div class="col-sm-3 texto-negrilla border-left-bold">VALOR BRUTO PARA R.M. US$</div>
    <div class="col-sm-2 text-right texto-negrilla border-midle">{{planillaC.c17 | number:2}}</div>
    <div class="col-sm-1 text-right border-right-bold">{{planillaC.d17 | number:2}}</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Alicuota RM (EXPORTACION)</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c18 | number:2}}</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1 text-right">{{planillaC.y18 | number:2}}</div>
    <div class="col-sm-1 text-right">{{planillaC.z18 | number:2}}</div>
 </div>
 <div class="row">
    <div class="col-sm-3 texto-negrilla border-bottom-left-bold">RM {{planillaC.planilla}} A PAGAR</div>
    <div class="col-sm-2 text-right texto-negrilla border-bottom-bold">{{planillaC.c19 | number:2}}</div>
    <div class="col-sm-1 border-bottom-right-bold">&nbsp</div>
    <div class="col-sm-1 text-right texto-negrilla">DM/TON</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1 text-right">{{planillaC.y19 | number:2}}</div>
    <div class="col-sm-1 text-right">{{planillaC.z19 | number:2}}</div>
 </div>
 <div class="row">
    <div class="col-sm-3 fondo-gris border-left-bold">PLATA</div>
    <div class="col-sm-2 text-right fondo-gris border-midle">gpt</div>
    <div class="col-sm-1 text-right fondo-gris border-right-bold">{{planillaC.d20 | number:2}}</div>
    <div class="col-sm-1 text-right">{{planillaC.u20 | number:2}}</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1 text-right">{{planillaC.z20 | number:2}}</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-top-left-bold">Peso neto Seco para RM</div>
    <div class="col-sm-2 text-right border-top-bold">{{planillaC.c21 | number:2}}</div>
    <div class="col-sm-1 text-right border-top-right-bold">Kgs</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Contenido de Ag en gr/Ton</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c22 | number:2}}</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Contenido de Ag en kg/Ton</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c23 | number:2}}</div>
    <div class="col-sm-1 text-right border-right-bold">{{planillaC.d23 | number:2}}</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Contenido de Ag en OT/Ton</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c24 | number:2}}</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Cotización US$/O.T. del Min. de Mineria</div>
    <div class="col-sm-2 border-midle">&nbsp</div>
    <div class="col-sm-1 text-right border-right-bold">{{planillaC.d25 | number:2}}</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 texto-negrilla border-left-bold">VALOR BRUTO PARA R.M. US$/TMS</div>
    <div class="col-sm-2 text-right texto-negrilla border-midle">{{planillaC.c26 | number:2}}</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 border-left-bold">Alicuota RM (EXPORTACION)</div>
    <div class="col-sm-2 text-right border-midle">{{planillaC.c27 | number:2}}</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 texto-negrilla border-left-bold">RM Ag A PAGAR</div>
    <div class="col-sm-2 text-right texto-negrilla border-midle">{{planillaC.c28 | number:2}}</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 texto-negrilla border-left-bold">VALOR RM TOTAL en $us</div>
    <div class="col-sm-2 text-right texto-negrilla border-midle">{{planillaC.c30 | number:2}}</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 texto-negrilla border-left-bold">VALOR RM TOTAL en Bs</div>
    <div class="col-sm-2 text-right texto-negrilla border-midle">{{planillaC.c31 | number:2}}</div>
    <div class="col-sm-1 border-right-bold">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
    <div class="col-sm-3 texto-negrilla border-bottom-left-bold">TOTAL ZINC PLATA PLOMO</div>
    <div class="col-sm-2 text-right texto-negrilla border-bottom-bold">{{planillaC.c32 | number:2}}</div>
    <div class="col-sm-1 border-bottom-right-bold">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1">&nbsp</div>
 </div>
 <div class="row">
  <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <button class="btn m-b-xs btn-lg btn-primary btn-addon" ng-click="imprimir()" ng-disabled="forma.$invalid"><i class="fa fa-plus"></i>Imprimir
            </button>
            <button class="btn m-b-xs btn-lg btn-danger btn-addon" ng-click="cancelar()"><i class="fa fa-trash-o"></i>Cancelar</button>
          </div>
        </div>
  </div>
</div>