<div class="wrapper-sm">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Dosificaciones
        </div>
        <div class="panel-body">
          <form action="" name="forma">
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Autorizacion</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="dosificacion.autorizacion">
                  </div>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Clave</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="dosificacion.clave">
                  </div>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Fecha Inicio</label>
                <div class="col-sm-3" ng-controller="DatepickerDemoCtrl">
                  <div class="input-group w-md">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dosificacion.inicio" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>  </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Fecha Vencimiento</label>
                <div class="col-sm-3" ng-controller="DatepickerDemoCtrl">
                  <div class="input-group w-md">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dosificacion.vencimiento" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>  </button>
                    </span>
                  </div>
                </div>  
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Número</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="dosificacion.numero">
                  </div>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="alert alert-success" ng-show="showSuccessAlert">
                <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button> 
                <strong>Correcto!</strong> {{successTextAlert}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-4">
                <button class="btn m-b-xs btn-lg btn-primary btn-addon" ng-click="grabar()" ng-disabled="forma.$invalid"><i class="fa fa-plus"></i>Guardar
                </button>
                <button class="btn m-b-xs btn-lg btn-danger btn-addon" ng-click="cancelar()"><i class="fa fa-trash-o"></i>Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>   
  </div>
</div>
