
<div class="wrapper-sm">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Parametros Generales de Zinc
        </div>
        <div class="panel-body">
          <form action="" name="forma">
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">Humedad</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro1.humedad">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Merma</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro1.merma">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>                
              </div>
            </div>        
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">Leyes</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro1.leyes">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>                
              </div>
            </div>     
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">LeyesAg</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro1.leyesAg">
                    <span class="input-group-addon">g/t</span>
                  </div>
                </div>                
              </div>
            </div>
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">Cotizaciones</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro1.cotizaciones">
                    <span class="input-group-addon">$us/lf</span>
                  </div>
                </div>                
              </div>
            </div>       
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">CotizacionesAg</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro1.cotizacionesAg">
                    <span class="input-group-addon">$us/ot</span>
                  </div>
                </div>                
              </div>
            </div>
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">Alicuotas</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro1.alicuotas">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>                
              </div>
            </div>
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">AlicuotasAg</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro1.alicuotasAg">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">TipoCambioANB</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro1.tipoCambioANB">
                    <span class="input-group-addon">ANB</span>
                  </div>
                </div>               
              </div>
            </div>                
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">TipoCambioOficial</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro1.tipoCambioOficial">
                    <span class="input-group-addon">Oficial</span>
                  </div>
                </div>                
              </div>
            </div>
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">PuertoDestino</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.puertoDestino">
                  </div>
                </div>               
              </div>
            </div>
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">PaisDestino</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.paisDestino">
                  </div>
                </div>                
              </div>
            </div>  
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">FactorKg1</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="7" numeric-input ng-model="parametro1.factorKg1">
                    <span class="input-group-addon">lt</span>
                  </div>
                </div>                
              </div>
            </div> 
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">FactorKg2</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="5" numeric-input ng-model="parametro1.factorKg2">
                    <span class="input-group-addon">of</span>
                  </div>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Externo</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro1.externo">
                    <span class="input-group-addon">$us/ton</span>
                  </div>
                </div>                
              </div>
            </div>       
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Comprador</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.comprador">
                  </div>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Direccion</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.direccion">
                  </div>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Puerto</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.puerto">
                  </div>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Origen</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.origen">
                  </div>
                </div>                
              </div>
            </div> 
             <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Concentrado</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.concentrado">
                  </div>
                </div>
              </div>
            </div> 
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Partida Uno</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.partida1">
                  </div>
                </div>                
              </div>
            </div> 
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Partida Dos</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.partida2">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Fecha</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="fecha" disabled="disabled">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Ubicacion</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.ubicacion">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Telefono</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.telefono">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Fax</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.fax">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Version</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro1.version">
                  </div>
                </div>
              </div>
            </div>                                                
            <div class="row">
              <div class="alert alert-success" ng-show="showSuccessAlert1">
                <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert1')">×</button> 
                <strong>Correcto!</strong> {{successTextAlert1}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-4">
                <button class="btn m-b-xs btn-lg btn-primary btn-addon" ng-click="grabar()" ng-disabled="forma.$invalid"><i class="fa fa-plus"></i>Guardar
                </button>
                <button class="btn m-b-xs btn-lg btn-danger btn-addon" ng-click="cancelar()"><i class="fa fa-trash-o"></i>Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Parametros Generales de Plomo
        </div>
        <div class="panel-body">
          <form action="" name="forma">
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">Humedad</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro2.humedad">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Merma</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro2.merma">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
            </div>        
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">Leyes</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro2.leyes">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>                
              </div>
            </div>     
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">LeyesAg</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro2.leyesAg">
                    <span class="input-group-addon">g/t</span>
                  </div>
                </div>                
              </div>
            </div>
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">Cotizaciones</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro2.cotizaciones">
                    <span class="input-group-addon">$us/lf</span>
                  </div>
                </div>               
              </div>
            </div>       
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">CotizacionesAg</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro2.cotizacionesAg">
                    <span class="input-group-addon">$us/ot</span>
                  </div>
                </div>              
              </div>
            </div>
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">Alicuotas</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro2.alicuotas">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>                
              </div>
            </div>
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">AlicuotasAg</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro2.alicuotasAg">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">TipoCambioANB</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro2.tipoCambioANB">
                    <span class="input-group-addon">ANB</span>
                  </div>
                </div>
              </div>
            </div>                
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">TipoCambioOficial</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro2.tipoCambioOficial">
                    <span class="input-group-addon">Oficial</span>
                  </div>
                </div>         
              </div>
            </div>
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">PuertoDestino</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro2.puertoDestino">
                  </div>
                </div>          
              </div>
            </div>
            <div class="row hidden">
              <div class="form-group">
                <label class="col-sm-3 control-label">PaisDestino</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro2.paisDestino">
                  </div>
                </div>
              </div>
            </div>  
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">FactorKg1</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="7" numeric-input ng-model="parametro2.factorKg1">
                    <span class="input-group-addon">lt</span>
                  </div>
                </div>
              </div>
            </div> 
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">FactorKg2</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="5" numeric-input ng-model="parametro2.factorKg2">
                    <span class="input-group-addon">of</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Externo</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control text-right input-sm" placeholder="calculo" fraction="2" numeric-input ng-model="parametro2.externo">
                    <span class="input-group-addon">$us/ton</span>
                  </div>
                </div>
              </div>
            </div>       
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Comprador</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro2.comprador">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Direccion</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro2.direccion">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Puerto</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro2.puerto">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Origen</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro2.origen">
                  </div>
                </div>
              </div>
            </div> 
             <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Concentrado</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro2.concentrado">
                  </div>
                </div>
              </div>
            </div> 
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Partida Uno</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro2.partida1">
                  </div>
                </div>
              </div>
            </div> 
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Partida Dos</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="parametro2.partida2">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">Fecha</label>
                <div class="col-sm-3">
                  <div class="input-group m-b">
                    <input type="text" class="form-control input-sm set-width" placeholder="valor" ng-model="fecha" disabled="disabled">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>    
  </div>
</div>
