<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold" ng-hide="longitud">Factura</div>
    <div class="panel-body" ng-hide="longitud">
      <form action="" name="forma">
        <div class="row">  
          <label class="col-sm-3 control-label">Fecha</label>
          <div class="col-sm-7" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="factura.fecha" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>  </button>
              </span>

            </div>
          </div>
        </div> 
        <div class="row">
          <div class="form-group">
            <label class="col-sm-3 control-label texto-negrilla"># Factura</label>
            <div class="col-sm-3">

              <input type="text" class="form-control input-sm" ng-model="factura.factura" disabled="disabled">

            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="col-sm-3 control-label texto-negrilla">NIT</label>
            <div class="col-sm-7">
              <input type="text" class="form-control input-sm" ng-model="factura.nit">
            </div>
          </div>
        </div>
          <div class="row">
          <div class="form-group">
            <label class="col-sm-3 control-label texto-negrilla">Nombre</label>
            <div class="col-sm-7">
              <input type="text" class="form-control input-sm" ng-model="factura.nombre">
            </div>
          </div>
          </div>
          <div class="row">
          <div class="form-group">
            <label class="col-sm-3 control-label texto-negrilla">DUI: </label>
            <div class="col-sm-4">
              <input type="text" class="form-control input-sm" ng-model="factura.dui">
            </div>
          </div>
          </div> 
        <div class="row">
            <label class="col-sm-2 control-label texto-negrilla">Cantidad</label>
            <label class="col-sm-4 control-label texto-negrilla">Descripcion</label>
            <label class="col-sm-3 control-label texto-negrilla">Monto Uni</label>
            <label class="col-sm-3 control-label texto-negrilla">Monto Total</label>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-sm-2">
              <div class="input-group m-b">
               <input type="text" class="form-control input-sm" ng-model="factura.cantidad1">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <div class="input-group m-b">
                <input type="text" class="form-control input-sm" ng-model="factura.descripcion1">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <div class="input-group m-b">
                <input type="text" class="form-control input-sm" ng-model="factura.monto1">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" 
                fraction="2" numeric-input ng-model="factura.montot1"  required> 
              </div>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-sm-2">
              <div class="input-group m-b">
               <input type="text" class="form-control input-sm" ng-model="factura.cantidad2">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <div class="input-group m-b">
                <input type="text" class="form-control input-sm" ng-model="factura.descripcion2">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <div class="input-group m-b">
                <input type="text" class="form-control input-sm" ng-model="factura.monto2">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm"
                fraction="2" numeric-input ng-model="factura.montot2"  required> 
              </div>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="form-group">
            <label class="col-sm-9 control-label texto-negrilla">Total Factura</label>
            <div class="col-sm-1">
            </div>
          </div>
          <div class="form-group">
             <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" placeholder="calculo" 
              fraction="2" numeric-input ng-model="factura.montot">
              <span class="input-group-addon">Bs</span>
            </div>

            </div>
             <div class="col-sm-1">
            </div>
          </div>
        </div>

        <div class="row">
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <button class="btn m-b-xs btn-bg btn-primary btn-addon" ng-click="grabar()" ng-disabled="forma.$invalid"><i class="fa fa-plus"></i>Grabar
            </button>
            <button class="btn m-b-xs btn-bg btn-danger btn-addon" ng-click="cancelar()"><i class="fa fa-trash-o"></i>Cancelar</button>
            <button class="btn m-b-xs btn-bg btn-danger btn-addon" ng-click="imprimir()"><i class="fa fa-trash-o"></i>Imprimir</button>
          </div>
          </div>
      </form>
    </div>
    <div class="panel-heading font-bold" ng-show="longitud">Factura de Exportación ya validada con Codigo de Control</div>
  </div>
</div>