<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">Planilla de Calculo de la RM de {{planilla.planilla}}</div>
    <div class="panel-heading font-bold">I .-DATOS DE CABECERA</div>
      <!-- modal -->
      <div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
          <div ng-include="'tpl/modalParametros.html'"></div>
          </script>
      </div>
      <!-- /modal -->     
    <form action="" name="forma">   
      <div class="row">
        <div class="form-group">
          <label class="col-sm-2 control-label">&nbsp;&nbsp;Nro. de Factura</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" ng-model="planilla.impuestoFacturaFactores" required>
              <span class="input-group-addon">No</span>
            </div>
          </div>
          <div class="col-sm-0"></div>
          <label class="col-sm-1 control-label">Lote</label>
          <div class="col-sm-3">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" ng-model="planilla.pesoLoteFactores" required>
              <span class="input-group-addon">No</span>
            </div>
          </div>
          <label class="col-sm-1 control-label">Fecha</label>
          <div class="col-sm-1" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="planilla.pesoKilosNetosSecosFactores" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>  </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
          <div ng-include="tpl/modalParametros.html">
          </div>
        </script>
      </div> -->
      <div class="row">
        <div class="col-sm-4 panel-heading text-left bg-success2 no-border">
          <span class="text-u-c m-b-none font-bold">II. VALOR EXPORTACION /  REGALIA MINERA </span>         
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-3 panel-heading text-left bg-success2 no-border">
          <span class="text-u-c m-b-none font-bold">Pesos</span>         
        </div>
        <div class="col-sm-2 panel-heading text-left bg-success2 no-border">
          <span class="text-u-c m-b-none font-bold">Peso</span>          
        </div>
      </div>
      <div class="row">  
        <div class="form-group">
          <label class="col-sm-3 control-label">Kilos Netos Húmedos</label>
          <div class="col-sm-2">
            <div class="input-group m-b" ng-class="{'has-error':forma.pesoKilosNetosHumedosPeso.$invalid && forna.pesoKilosNetosHumedosPeso.$dirty}" >
              <input type="text" class="form-control text-right input-sm" name="pesoKilosNetosHumedosPeso" fraction="2" numeric-input ng-model="planilla.pesoKilosNetosHumedosPeso" 
              required>
              <span class="input-group-addon">kg</span>
            </div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label">Humedad</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" ng-value="calcular()" fraction="2" numeric-input ng-model="planilla.pesoHumedadPesos" required>
              <span class="input-group-addon">%</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" 
              fraction="2" numeric-input ng-model="planilla.pesoHumedadPeso">
              <span class="input-group-addon">kg</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label">Merma</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" fraction="2" numeric-input ng-model="planilla.pesoMermaPesos">
              <span class="input-group-addon">%</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.pesoMermaPeso">
              <span class="input-group-addon">kg</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">  
        <div class="form-group">
          <label class="col-sm-3 control-label">Kilos Netos Secos</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.pesoKilosNetosSecosPeso">
              <span class="input-group-addon">kg</span>
            </div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-2 panel-heading text-left bg-success2 no-border">
          <span class="text-u-c m-b-none font-bold">Contenidos</span>          
        </div>
        <div class="col-sm-1 panel-heading text-left bg-success2 no-border">
          <span class="text-u-c m-b-none font-bold">Leyes</span>          
        </div>
        <div class="col-sm-2 panel-heading text-left bg-success2 no-border">
          <span class="text-u-c m-b-none font-bold">Peso</span>          
        </div>
        <div class="col-sm-4 panel-heading text-left bg-danger2 no-border">
          <span class="text-u-c m-b-none font-bold">Factores</span>          
        </div>         
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label">{{tipoProducto}}</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" fraction="2" numeric-input ng-model="planilla.contenidoZnLeyes" required>
              <span class="input-group-addon">%</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.contenidoZnPesokg">
              <span class="input-group-addon">kg</span>
            </div>
          </div>
          <label class="col-sm-2 control-label">1 kg</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" fraction="7" numeric-input ng-model="planilla.pesoKilosNetosHumedosFactores">
              <span class="input-group-addon">lf</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo"  fraction="2" numeric-input ng-model="planilla.contenidoZnPesolf">
              <span class="input-group-addon">lf</span>
            </div>
          </div>
          <label class="col-sm-2 control-label">1 kg</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled"  fraction="5" numeric-input ng-model="planilla.pesoHumedadFactores">
              <span class="input-group-addon">ot</span>
            </div>
          </div>
          <div class="col-sm-2">        
          </div>
          <div class="col-sm-2">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label">Ag</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" fraction="2" numeric-input ng-model="planilla.contenidoAgLeyes" required>
              <span class="input-group-addon">gr/ton</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.contenidoAgPesokg">
              <span class="input-group-addon">kg</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.contenidoAgPesoot">
              <span class="input-group-addon">ot</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 panel-heading text-left bg-success2 no-border">
          <span class="text-u-c m-b-none font-bold">Base Imponible</span>          
        </div>
        <div class="col-sm-1 panel-heading text-left bg-success2 no-border">
          <span class="text-u-c m-b-none font-bold">Cotizacion</span>          
        </div>
        <div class="col-sm-2 panel-heading text-left bg-success2 no-border">
          <span class="m-b-none font-bold">$us</span>          
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label">{{tipoProducto}}</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" fraction="2" numeric-input ng-model="planilla.baseZnCotizaciones" required>
              <span class="input-group-addon">$us/lf</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.baseZnSus">
              <span class="input-group-addon">$us</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label">Ag</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" fraction="2" numeric-input ng-model="planilla.baseAgCotizaciones" required>
              <span class="input-group-addon">$us/ot</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.baseAgSus">
              <span class="input-group-addon">$us</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label">Total</label>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.baseTotalSus">
              <span class="input-group-addon">$us</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.basePromedioSus">
              <span class="input-group-addon">$us</span>
            </div>
          </div>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-2">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-2">
          <div class="input-group m-b">
            <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.baseDiferenciaSus">
            <span class="input-group-addon">$us</span>
          </div>
        </div>        
      </div>        
      <div class="row">
        <div class="col-sm-2 panel-heading text-left bg-success2 no-border">
          <span class="text-u-c m-b-none font-bold">Regalia Minera</span>          
        </div>
        <div class="col-sm-1 panel-heading text-left bg-success2 no-border">
          <span class="text-u-c m-b-none font-bold">Alicuota</span>          
        </div>
        <div class="col-sm-2 panel-heading text-left bg-success2 no-border">
          <span class="m-b-none font-bold">$us</span>          
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label">{{tipoProducto}}</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" fraction="2" numeric-input ng-model="planilla.impuestoZnAlicuota" required>
              <span class="input-group-addon">%</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.impuestoZnSus">
              <span class="input-group-addon">$us</span>
            </div>
          </div>
          <label class="col-sm-2 control-label">Valor Concentrado x kg</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" fraction="6" numeric-input ng-model="planilla.impuestoZnValorConcentradoFactores" required>
              <span class="input-group-addon">$us</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label">Ag</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" fraction="2" numeric-input ng-model="planilla.impuestoAgAlicuota" required>
              <span class="input-group-addon">%</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.impuestoAgSus">
              <span class="input-group-addon">$us</span>
            </div>
          </div>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-2">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label">Total</label>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.impuestoTotalSusSus">
              <span class="input-group-addon">$us</span>
            </div>
          </div>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-2">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.impuestoTotalBsSus">
              <span class="input-group-addon">Bs</span>
            </div>
          </div>
          <div class="col-sm-4">
          </div>
        </div>
      </div>
      <div class="row">    
       <div class="col-sm-4 panel-heading text-left bg-success2 no-border">
         <span class="text-u-c m-b-none font-bold">III. DATOS COMPLEMENTARIOS PARA DUE </span>         
       </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-0">
          </div>
          <label class="col-sm-1 control-label">No DUE</label>
          <div class="col-sm-3">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" ng-model="planilla.baseDiferenciaDueFactores" required>
              <span class="input-group-addon">No</span>
            </div>
          </div>
          <label class="col-sm-2 control-label">&nbsp;&nbsp;Lista Empaque</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" ng-model="planilla.contenidoListaEmpaqueFactores" required>
              <span class="input-group-addon">No</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-2 control-label">Flete Total</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled"  fraction="2" numeric-input ng-model="planilla.contenidoAgFleteTotalFactores">
              <span class="input-group-addon">$us/ton</span>
            </div>
          </div>
          <label class="col-sm-2 control-label">Interno (MSC-AV)</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" fraction="3" numeric-input ng-model="planilla.contenidoAgInternoFactores" required>
              <span class="input-group-addon">$us/ton</span>
            </div>
          </div>
          <label class="col-sm-2 control-label">Externo (AV-MEJ)</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" fraction="2" numeric-input ng-model="planilla.contenidoAgExternoFactores">
              <span class="input-group-addon">$us/ton</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-2 control-label">No Contenedores</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" fraction="0" numeric-input ng-model="planilla.baseZnContenedoresFactores" required>
              <span class="input-group-addon">mo3</span>
            </div>
          </div> 
          <label class="col-sm-2 control-label">Tara Total</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled"  fraction="2" numeric-input ng-model="planilla.baseAgTaraTotalFactores">
              <span class="input-group-addon">Tara</span>
            </div>
          </div>
          <label class="col-sm-2 control-label">Peso Bruto Humedo</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" fraction="2" numeric-input ng-model="planilla.baseTotalPesoBrutoFactores">
              <span class="input-group-addon">kg</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">    
        <div class="col-sm-4 panel-heading text-left bg-success2 no-border">
          <span class="text-u-c m-b-none font-bold">IV. DATOS COMPLEMENTARIOS PARA FACTURA </span>         
        </div>
      </div>
      <div class="row">
        <label class="col-sm-2 control-label">1 $us</label>
        <div class="col-sm-2">
          <div class="input-group m-b">
            <input type="text" class="form-control text-right input-sm" disabled="disabled"  fraction="2" numeric-input ng-model="planilla.pesoMermaFactores">
            <span class="input-group-addon">ANB</span>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="input-group m-b">
            <input type="text" class="form-control text-right input-sm" disabled="disabled"  fraction="2" numeric-input ng-model="planilla.contenidoZnTipoDeCambioFactores">
            <span class="input-group-addon">Oficial</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label">PUERTO DESTINO</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <select class="form-control input-sm" ng-model="planilla.puertoDestino" ng-change="mostrarPais(planilla.puertoDestino)" ng-options="puerto.id as puerto.descripcion for puerto in puerto" required >
              </select>
            </div>
          </div>
          <label class="col-sm-1 control-label">PAIS DESTINO</label>
          <div class="col-sm-2">
            <div class="input-group m-b">
              <input type="text" class="form-control input-sm" disabled="disabled" ng-model="paisDestinoDescripcion">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="alert alert-success" ng-show="showSuccessAlert"> 
          <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button> 
          <strong>Correcto!</strong> {{successTextAlert}}
        </div>
      </div>    
      <div class="row">    
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <button class="btn m-b-xs btn-lg btn-primary btn-addon" ng-click="grabar()" ng-disabled="forma.$invalid"><i class="fa fa-plus"></i>Guardar
            </button>
            <button class="btn m-b-xs btn-lg btn-danger btn-addon" ng-click="cancelar()"><i class="fa fa-trash-o"></i>Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>